<div>Dear {{ name }},</div>
<div style="position: relative">
	<includetail>
		<div dir="ltr">
			<div style="color: rgb(0, 0, 0)">
				<div
					class="gmail-paragraph"
					style="
						font-size: 14px;
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
					"
				>
					I hope this message finds you well. We are excited to introduce you to
					our latest line of Joule Heating Devices, designed to significantly
					enhance your high-temperature laboratory research capabilities.
				</div>
				<div
					class="gmail-paragraph"
					style="
						font-size: 14px;
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
					"
				>
					At Hydronova Technology (Hong Kong) Limited, we offer a range of
					advanced devices tailored to meet diverse laboratory needs:
				</div>
				<ol
					start="1"
					style="
						font-size: 14px;
						list-style-position: inside;
						margin: 0px;
						padding: 0px 0px 0px 2em;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: inherit;
					"
				>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							<span
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font-style: inherit;
									font-variant: inherit;
									font-weight: 700;
									font-stretch: inherit;
									font-size: inherit;
									line-height: inherit;
									font-family: inherit;
									font-kerning: inherit;
									font-feature-settings: inherit;
									vertical-align: baseline;
								"
							>
								Standard Joule Heating Device
							</span>
							: Perfect for rapid heating rates of 2000K-8000K, this device
							offers ultra-fast sintering in milliseconds, ideal for quick
							temperature change applications.
						</div>
					</li>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							<span
								class="gmail-"
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font-style: inherit;
									font-variant: inherit;
									font-weight: 700;
									font-stretch: inherit;
									font-size: inherit;
									line-height: inherit;
									font-family: inherit;
									font-kerning: inherit;
									font-feature-settings: inherit;
									vertical-align: baseline;
								"
							>
								High-Throughput Joule Heating Device
							</span>
							: This device provides ultra-fast sintering speeds in seconds with
							the ability to sustain long sintering times in hours, offering a
							heating rate of 100℃-3000℃, perfect for high-volume research.
						</div>
					</li>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							<span
								class="gmail-"
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font-style: inherit;
									font-variant: inherit;
									font-weight: 700;
									font-stretch: inherit;
									font-size: inherit;
									line-height: inherit;
									font-family: inherit;
									font-kerning: inherit;
									font-feature-settings: inherit;
									vertical-align: baseline;
								"
							>
								High-Throughput Fully Automated Joule Heating Device
							</span>
							: For labs requiring efficiency and precision, this fully
							automated device combines high throughput with automation,
							maintaining heating rates of 100℃-3000℃.
						</div>
					</li>
				</ol>
				<div
					class="gmail-paragraph"
					style="
						font-size: 14px;
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
					"
				>
					These devices are compatible with various sample formats, including
					powders, films, and blocks, making them versatile tools for your
					research. They are particularly beneficial for the preparation of
					advanced materials such as energy catalysts, graphene, high entropy
					alloys, and ceramic materials.
				</div>
				<div
					class="gmail-paragraph"
					style="
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
						font-kerning: inherit;
						font-feature-settings: inherit;
						vertical-align: baseline;
						margin: 0px 0px 0.859em;
						max-width: 100%;
						overflow: auto hidden;
						word-break: break-word;
					"
				>
					<font style="font-size: 14px">
						<font color="#060607">
							We believe our Joule Heating Devices will contribute to innovative
							discoveries in your field. For more detailed information about
							each device, please&nbsp;
						</font>
					</font>
					<span style="font-size: 14px"> refer&nbsp; </span>
					to the product manual
					<span style="font-size: 14px; letter-spacing: 0.25px">
						<font
							face="-apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, MIUI, Hiragino Sans GB, Microsoft YaHei, sans-serif"
							style="background-color: transparent"
						>
							.&nbsp;
						</font>
					</span>
					<font
						color="#060607"
						style="background-color: transparent; font-size: 14px"
					>
						If you have any questions or need further details, please feel free
						to contact us.
					</font>
				</div>
				<div
					class="gmail-paragraph"
					style="
						font-size: 14px;
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
					"
				>
					We look forward to the possibility of discussing how our Joule Heating
					Devices can support your research endeavors.
				</div>
				<div
					class="gmail-paragraph"
					style="
						font-size: 14px;
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
					"
				>
					<span style="background-color: rgba(0, 0, 0, 0)">
						Best&nbsp;regards,
						<br />
					</span>
				</div>
				<div
					class="gmail-paragraph"
					style="
						font-size: 14px;
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
						font-kerning: inherit;
						font-feature-settings: inherit;
						vertical-align: baseline;
						margin: 0px 0px 0.859em;
						max-width: 100%;
						overflow: auto hidden;
						word-break: break-word;
					"
				>
					<span style="color: rgb(6, 6, 7)">
						Hydronova&nbsp;Technology&nbsp;(Hong&nbsp;Kong)&nbsp;Limited
						<br />
						Email:&nbsp;
					</span>
					<span style="font-size: small">
						<b>
							<a href="mailto:researchcloud.xumi@gmail.com">
								researchcloud.xumi@gmail.com
							</a>
						</b>
					</span>
				</div>
				<span style="color: rgb(6, 6, 7)"> </span>
			</div>
			<div
				class="gmail-paragraph"
				style="
					font-size: 14px;
					padding: 0px;
					border: 0px;
					font-variant-numeric: inherit;
					font-variant-east-asian: inherit;
					font-stretch: inherit;
					line-height: 24px;
				"
			>
				<div
					class="gmail-paragraph"
					style="
						padding: 0px;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: 24px;
						font-kerning: inherit;
						font-feature-settings: inherit;
						vertical-align: baseline;
						margin: 0px 0px 0.859em;
						max-width: 100%;
						overflow: auto hidden;
						word-break: break-word;
					"
				>
					P.S. We believe you may find the following recent publications
					particularly insightful as they discuss cutting-edge research that
					aligns with the capabilities of our Joule Heating Devices:
				</div>
				<ol
					start="1"
					style="
						list-style-position: inside;
						margin: 0px;
						padding: 0px 0px 0px 2em;
						border: 0px;
						font-variant-numeric: inherit;
						font-variant-east-asian: inherit;
						font-stretch: inherit;
						line-height: inherit;
						font-kerning: inherit;
						font-feature-settings: inherit;
						vertical-align: baseline;
						letter-spacing: 0.5px;
					"
				>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							"A stable atmospheric-pressure plasma for extreme-temperature
							synthesis," published in Nature, explores groundbreaking methods
							that could be complemented by our devices' high-temperature
							synthesis capabilities.
							<a
								target="_blank"
								href="https://www.nature.com/articles/s41586-023-06694-1"
								rel="noreferrer nofollow noopener"
								class="gmail-"
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font: inherit;
									vertical-align: baseline;
								"
							>
								Read the Article
							</a>
						</div>
					</li>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							"Accelerating the Discovery of Efficient High-Entropy Alloy
							Electrocatalysts: High-Throughput Experimentation and Data-Driven
							Strategies" featured in Nano Letters, highlights the effectiveness
							of high-throughput methods in material research. Our
							high-throughput devices are designed to support similar advanced
							discovery and optimization processes.
							<a
								target="_blank"
								href="https://doi.org/10.1021/acs.nanolett.4c03208"
								rel="noreferrer nofollow noopener"
								class="gmail-"
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font: inherit;
									vertical-align: baseline;
								"
							>
								Read the Article
							</a>
						</div>
					</li>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							"Gram-scale bottom-up flash graphene synthesis" published in
							Nature, discusses how the flash joule heating devices can
							contribute to graphene production.
							<a
								target="_blank"
								href="https://doi.org/10.1038/s41586-020-1938-0"
								rel="noreferrer nofollow noopener"
								class="gmail-"
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font: inherit;
									vertical-align: baseline;
								"
							>
								Read the Article
							</a>
						</div>
					</li>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							"A general method to synthesize and sinter bulk ceramics in
							seconds" published in Science, &nbsp;may interest you as it
							explores advanced ceramic processing techniques. And our devices
							are alscapable of ceramic material preparation.
							<a
								target="_blank"
								href="https://www.science.org/doi/10.1126/science.aaz7681"
								rel="noreferrer nofollow noopener"
								class="gmail-"
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font: inherit;
									vertical-align: baseline;
								"
							>
								Read the Article
							</a>
						</div>
					</li>
					<li
						style="
							margin: 0px;
							padding: 0px;
							border: 0px;
							font-style: inherit;
							font-variant: inherit;
							font-weight: inherit;
							font-stretch: inherit;
							font-size: inherit;
							line-height: 24px;
							font-family: inherit;
							font-kerning: inherit;
							font-feature-settings: inherit;
							vertical-align: baseline;
							letter-spacing: 0.25px;
						"
					>
						<div
							class="gmail-paragraph"
							style="
								padding: 0px;
								border: 0px;
								font-style: inherit;
								font-variant: inherit;
								font-weight: inherit;
								font-stretch: inherit;
								line-height: 24px;
								font-family: inherit;
								font-kerning: inherit;
								font-feature-settings: inherit;
								vertical-align: baseline;
								margin: 0px;
								max-width: 100%;
								overflow: visible;
								word-break: break-word;
							"
						>
							"Intermediate State of Dense Ru Assembly Captured by
							High-Temperature Shock for Durable Ampere-Level Hydrogen
							Production " found in ACS Materials Letters, could be relevant as
							it examines the role of our devices in catalyst preparation.
							<a
								target="_blank"
								href="https://doi.org/10.1021/acsmaterialslett.4c00124"
								rel="noreferrer nofollow noopener"
								style="
									margin: 0px;
									padding: 0px;
									border: 0px;
									font: inherit;
									vertical-align: baseline;
								"
							>
								Read the Article
							</a>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</includetail>
</div>
