<div><span style="font-size: 11pt; text-align: justify;">Dear 
                {{ name }},</span></div><div style="position: relative;"><includetail>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); "><br>Hope you are
                doing
                well! We are writing to invite you as our honored speaker on behalf of the executive board of Research
                Cloud. </span></p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">&nbsp;</span>
</p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">ResearchCloud is
                a
                cutting-edge online academic platform that seeks to promote the impact of researchers and
                journals by connecting them with the largest community of academic audiences. Since its
                establishment in
                March 2020, ResearchCloud has gained over 1,000,000 academic-related subscribers and
                successfully
                organized over 4,000 academic lectures delivered by professors from China and all around the world.
                We have
                partnered with renowned academic organizations such as ACS, IOP, CCS, and prestigious academic journals,
                solidifying our position as China's largest online academic platform. </span></p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">&nbsp;</span>
</p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">Given your
                outstanding
                reputation as a distinguished scholar, we cordially invite you to participate in a special session
                dedicated to
                cutting - edge topics in your field. In case you are unfamiliar with live-streamed lectures, we
                encourage you to
                explore the playback of our previous videos on </span><span style="  ;; font-size: 11pt; color: rgb(128, 0, 128); "><u><a href="https://www.youtube.com/channel/UCqJZ2YOjMUps-NE3rS35KPQ/videos" style="text-decoration: underline;color: rgb(128, 0, 128); margin-top: 0px; margin-bottom: 0px;">YouTube</a></u></span><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">&nbsp;or</span><span style="  ;; font-size: 11pt; color: rgb(51, 102, 255); ">&nbsp;</span><span style="  ;; font-size: 11pt; color: rgb(128, 0, 128); "><u><a href="https://space.bilibili.com/517031761/" style="text-decoration: underline;color: rgb(128, 0, 128); margin-top: 0px; margin-bottom: 0px;">BiliBili</a></u></span><span style="  ;; font-size: 11pt; color: rgb(51, 102, 255); ">&nbsp;</span><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">platforms. Your
                involvement in our event will undoubtedly amplify the impact of your research both in China and
                worldwide.</span></p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">&nbsp;</span>
</p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">Kindly let us know your interest in this regard.<br><br>We
                do very much hope that you will be able to accept this invitation. We
                eagerly anticipate your support in delivering an impactful academic lecture on our
                platform.<br><br>With regards,</span></p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">&nbsp;</span>
</p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); "><b>Yanan
                        Chen</b></span>
</p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">Tianjin
                University<br></span><span style="  ;; font-size: 11pt; color: rgb(0, 0, 255); "><u><a href="http://www.nanochen.com/" style="text-decoration: underline;color: rgb(0, 0, 255); margin-top: 0px; margin-bottom: 0px;">www.nanochen.com</a></u></span>
</p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); ">&nbsp;</span>
</p>
<p style="text-align: justify; line-height: 1.43; background-color: rgb(255, 255, 255); margin: 0pt 0pt 0.0001pt;"><span style="  ;; font-size: 11pt; color: rgb(0, 0, 0); "><b>Shi
                        Hu</b><br>Tianjin
                University<br></span><span style="  ;; font-size: 11pt; color: rgb(0, 0, 255); "><u><a href="http://www.x-mol.com/groups/rychushi" style="text-decoration: underline;color: rgb(0, 0, 255); margin-top: 0px; margin-bottom: 0px;">www.x-mol.com/groups/rychushi</a></u></span>
</p>
<div style="line-height: 1.43; font-family: -apple-system, system-ui; font-size: 14px; color: rgb(0, 0, 0);"><br></div>
<div style="line-height: 1.43;"><br></div></includetail></div>