.el-dialog {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 40px;
	margin: 0;
}

.el-dialog__footer {
	padding-top: 0;
}

.upload-mask {
	display: flex;
	justify-content: center;
	align-items: center;
}

.el-loading-spinner {
	margin-top: 0;
	position: initial;
	top: initial;
}

.el-loading-spinner .path {
	stroke: #fff !important;
}

.el-loading-spinner .el-loading-text {
	color: #fff !important;
}
